{% extends 'base.html.twig' %}

{% block body %}
    
<!-- spacer section -->
<section class="spacer green">
<div class="container">
    <div class="row">
        <div class="span12 aligncenter flyUp">
            <h2 class="pagetitle"><strong>Formulaire de depots d'annonce</strong></h2>
        </div>
    </div>
</div>
</section>
<!-- end spacer section -->
<!-- section: team -->
<section id="maincontent" class="inner">
<div class="container">
    <div class="row">
        <div class="span6">
        <h4>Formulaire</h4>
            <div class="tabbable">
                <div class="tab-content">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>  
            </div>      
        </div>
        
        <div class="span6">
            <h4>Formuaire</h4> 
                     Mettre ici le formulaire c'est bara mamadou 
        </div>
    </div>  
</div>
<!-- end container -->
</section>


{% endblock %}

{% block stylesheets %}

{% endblock %}
