{% extends 'base.html.twig' %}

{% block body %}
	<!-- Header area -->
    <div id="header-wrapper" class="header-slider">
        <header class="clearfix">
        <div class="logo">
            <img src="img/logo-image.png" alt="" />
        </div>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div id="main-flexslider" class="flexslider">
                        <ul class="slides">
                            <li>
                            <p class="home-slide-content">
                                <strong>Bienvenue dans notre site d'annonce</strong>
                            </p>
                            </li>
                            <li>
                            <p class="home-slide-content">
                               Un site simple et efficace pour rechercher <strong>des annoncxes</strong>
                            </p>
                            </li>
                            <li>
                            <p class="home-slide-content">
                                Créer par des jeunes Dévéloppeurs de <strong></strong>
                            </p>
                            </li>
                        </ul>
                    </div>
                    <!-- end slider -->
                </div>
            </div>
        </div>
        </header>
    </div>
<!-- spacer section -->
    <section class="spacer green">
    <div class="container">
        <div class="row">
            <div class="span6 alignright flyLeft">
                <blockquote class="large">
                     Trouvez la bonne affaire parmi les 26 852 738 petites annonces sur notre 
                     site d'annonce.
                </blockquote>
            </div>
            <div class="span6 aligncenter flyRight">
                <i class="icon-bullhorn icon-10x"></i>
            </div>
        </div>
    </div>
    </section>
<!-- end spacer section -->
<!-- section: team -->
    <section id="about" class="section">
    <div class="container">
        <h4>à utiliser pour afficher la carte mauritanie peut etre</h4>
        <div class="row">
            <div class="span4 offset1">
                <div>
                    <h2>We live with <strong>creativity</strong></h2>
                    <p>
                        A remplir apres
                    </p>
                </div>
            </div>
            <div class="span6">
                <div class="aligncenter">
                    <img src="img/icons/creativity.png" alt="" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span2 offset1 flyIn">
                <div class="people">
                    <img class="team-thumb img-circle" src="img/team/img-1.jpg" alt="" />
                    <h3>John Doe</h3>
                    <p>
                        Art director
                    </p>
                </div>
            </div>
            <div class="span2 flyIn">
                <div class="people">
                    <img class="team-thumb img-circle" src="img/team/img-2.jpg" alt="" />
                    <h3>Mike Doe</h3>
                    <p>
                        Web developer
                    </p>
                </div>
            </div>
            <div class="span2 flyIn">
                <div class="people">
                    <img class="team-thumb img-circle" src="img/team/img-3.jpg" alt="" />
                    <h3>Neil Doe</h3>
                    <p>
                        Web designer
                    </p>
                </div>
            </div>
            <div class="span2 flyIn">
                <div class="people">
                    <img class="team-thumb img-circle" src="img/team/img-4.jpg" alt="" />
                    <h3>Mark Joe</h3>
                    <p>
                        UI designer
                    </p>
                </div>
            </div>
            <div class="span2 flyIn">
                <div class="people">
                    <img class="team-thumb img-circle" src="img/team/img-5.jpg" alt="" />
                    <h3>Stephen B</h3>
                    <p>
                        Digital imaging
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
    </section>
<!-- end section: team -->
<!-- section: services -->
    <section id="services" class="section orange">
    <div class="container">
        <h4>Nos Services</h4>
        <!-- Four columns -->
        <div class="row">
            <div class="span3 animated-fast flyIn">
                <div class="service-box">
                    <img src="img/icons/laptop.png" alt="" />
                    <h2>Big Data</h2>
                    <p>
                         Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
            </div>
            <div class="span3 animated flyIn">
                <div class="service-box">
                    <img src="img/icons/lab.png" alt="" />
                    <h2>Développement Web</h2>
                    <p>
                         Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
            </div>
            <div class="span3 animated-fast flyIn">
                <div class="service-box">
                    <img src="img/icons/camera.png" alt="" />
                    <h2>Photography</h2>
                    <p>
                         Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
            </div>
            <div class="span3 animated-slow flyIn">
                <div class="service-box">
                    <img src="img/icons/basket.png" alt="" />
                    <h2>Ecommerce</h2>
                    <p>
                         Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
            </div>
        </div>
    </div>
    </section>
<!-- end section: services -->

<!-- spacer section -->
    <section class="spacer bg3">
    <div class="container">
        <div class="row">
            <div class="span12 aligncenter flyLeft">
                <blockquote class="large">
                     Sur le siteannonce, passez des annonces gratuites et sans commission. Vous pouvez consulter et chercher des petites annonces. 
                </blockquote>
            </div>
            <div class="span12 aligncenter flyRight">
                <i class="icon-rocket icon-10x"></i>
            </div>
        </div>
    </div>
    </section>
<!-- end spacer section -->
<!-- section: blog -->
    <section id="blog" class="section">
    <div class="container">
        <h4>Co-Fondateur</h4>
        <!-- Three columns -->
        <div class="row">
            <div class="span3">
                <div class="home-post">
                    <div class="post-image">
                        <img class="max-img" src="img/blog/img1.jpg" alt="" />
                    </div>
                    <div class="post-meta">
                        <i class="icon-file icon-2x"></i>
                        <span class="date">Bara Mamadou Seck</span>
                        {#<span class="tags"><a href="#">Bara Mamadou Seck</a>#}
                    </div>
                    <div class="entry-content">
                        <h5><strong><a href="#">Développeur symfony</a></strong></h5>
                        <p>
                            Bara Mamadou Seck est un passioné du web diplomé d'un bac+5 à l'université du havre normandie (France)

                        </p>
                        <a href="https://www.baraseck.info" class="more">Plus d'information</a>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="home-post">
                    <div class="post-image">
                        <img class="max-img" src="img/blog/img2.jpg" alt="" />
                    </div>
                    <div class="post-meta">
                        <i class="icon-file icon-2x"></i>
                        <span class="date">Diaw Abdoul Aziz</span>
                        {#<span class="tags"><a href="#">Diaw Abdoul Aziz</a>, <a href="#">News</a></span>#}
                    </div>
                    <div class="entry-content">
                        <h5><strong><a href="#">Développeur Java JEE</a></strong></h5>
                        <p>
                            Diaw abdel aziz est un passioné du web. <br> Diplomé d'un bac+5 à l'université de versaille saint quantin.
                        </p>
                        <a href="#" class="more">Plus d'information</a>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="home-post">
                    <div class="post-image">
                        <img class="max-img" src="img/blog/img3.jpg" alt="" />
                    </div>
                    <div class="post-meta">
                        <i class="icon-file icon-2x"></i>
                        <span class="date">Camara Abdelahi</span>
                        {#<span class="tags"><a href="#">Design</a>, <a href="#">Tips</a></span>#}
                    </div>
                    <div class="entry-content">
                        <h5><strong><a href="#">Développeur Web</a></strong></h5>
                        <p>
                            Camara Abdelahi est un passioné du web. <br> Diplomé d'un bac+5 à l'université de versaille saint quantin.
                        </p>
                        <a href="#" class="more">Plus d'information</a>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="home-post">
                    <div class="post-image">
                        <img class="max-img" src="img/blog/img4.jpg" alt="" />
                    </div>
                    <div class="post-meta">
                        <i class="icon-file icon-2x"></i>
                        <span class="date">Harouna SY</span>
                        {#<span class="tags"><a href="#"></a>, <a href="#">Tutorial</a></span>#}
                    </div>
                    <div class="entry-content">
                        <h5><strong><a href="#">Développeur web</a></strong></h5>
                        <p>
                            Harouna sy est un passioné du web qui est notre representant 
                            en mauritanie.
                            Il est diplomé d'un BAC+3 à l'université de nouakchott.

                        </p>
                        <a href="#" class="more">Plus d'information</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="blankdivider30"></div>
    </div>
    </section>

<!-- end spacer section -->
{% endblock %}

{% block stylesheets %}

{% endblock %}
